*{
  margin: 0;
  padding: 0;
}

.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-image {
  height: 500px;
  width: 500px;
  border-radius: 100%;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: skyblue;
}

.app-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
}

nav a.active{
  background: rgb(113, 201, 236);
  color: white;
  border: 3px solid white;
  border-radius: 8px;
}

nav a:hover{
  background-color: rgb(113, 201, 236);
  color: white;
  border: 3px solid white;
  border-radius: 8px;
  transition: 0.1s;
}

.no-margin{
  margin: 0;
  padding: 0;
}

.padding{
  padding: 30px;
}

.shadow-container {
  padding: 20px;
  background-color: white; /* Ensure background color for visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px; /* Optional: Rounds the corners */
}

.shadow-container-full{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px; /* Optional: Rounds the corners */
}