@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

.robertoCondensed{
  font-family: RobertCondensed;
  font-weight: bold;
}

.content-center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.small-image {
  height: 500px;
  width: 500px;
  border-radius: 100%;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg,rgb(226, 238, 243), skyblue);
}

.soft-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* Hard shadow example */
.hard-shadow {
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
}

.header-shadow{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.app-container {
  height: 100%;
  width: 100%;
  text-align: center;
}

nav a{
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
  color: white;
}

nav a.active{
  background: rgb(113, 201, 236);
  color: white;
  border: 3px solid white;
  border-radius: 8px;
}

nav a:hover{
  background-color: rgb(113, 201, 236);
  color: white;
  border: 3px solid white;
  border-radius: 8px;
  transition: 0.1s;
}

.no-margin{
  margin: 0;
  padding: 0;
}

.padding{
  padding: 30px;
}

.shadow-container {
  padding: 20px;
  background-color: white; /* Ensure background color for visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px; /* Optional: Rounds the corners */
}

.shadow-container-full{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 8px; /* Optional: Rounds the corners */
}